<div class="profile-container">
  <img class="profile-img" src="{{site.baseurl}}/assets/images/profile.jpg" alt="profile picture" />
  <h1 class="name">{{site.name}}</h1>
  <h3 class="tagline">
    Postdoctoral Researcher<br>
    <!-- <a href="http://ee.kaist.ac.kr/" target="_blank">School of Electrical Engineering</a><br> -->
    <a href="http://www.kaist.ac.kr/" target="_blank">KAIST</a>
  </h3>
  <h3 class="icon">
    <a href="http://{{site.website}}"><i class="fa fa-globe"></i></a> 
    <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i></a>
    <!-- <a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>  -->
    <!-- <a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a> -->
  </h3>
</div><!--//profile-container-->

<div class="about-container">
  <section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
      <p>
      I am a postdoctoral researcher in the <a href="http://ee.kaist.ac.kr/" target="_blank">School of Electrical Engineering</a> at <a href="http://www.kaist.ac.kr/" target="_blank">KAIST</a>. 
      I received my B.S., M.S. and Ph.D. from <a href="https://www.kaist.ac.kr/" target="_blank">KAIST</a>, advised by <a href="http://rcv.kaist.ac.kr/" target="_blank">Prof. In So Kweon</a>. My research background is computer vision and machine learning. Recently, I am working on machine learning problems related to data issues, including audio-visual learning, few-shot learning, and active learning.
      </br>
      </br>
      </br>
      </br>


      </p>
      <div class="icon">
      <i class="ai ai-cv-square ai-1x"></i>  <a href="{{site.baseurl}}/{{site.cv}}" target="_blank">CV</a> &nbsp; | &nbsp;
      <i class="ai ai-google-scholar-square ai-1x"></i>  <a href="https://{{site.google_scholar}}" target="_blank">Google Scholar</a> &nbsp; | &nbsp;
      <i class="fa fa-github"></i>  <a href="https://github.com/{{site.github}}" target="_blank">GitHub</a>
      </div>
      <!-- <span class="icon">
      <i class="fa fa-file-pdf-o"></i>  <a href="{{site.baseurl}}/{{site.research_statement}}" target="_blank">Research Statement</a>
      </span>
      <span class="small">(description)</div> -->
    </div><!--//summary-->
  </section><!--//section-->
  <hr>
</div><!--//about-container-->


