<section class="section publications-section">
  <!--<h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>-->
  <h2 class="section-title">Publications</h2>

  <div class="table">

    <!-- TPAMI 2021' -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/TPAMI_sound_localization.webp" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1911.09649v1.pdf" target="_blank">
            Learning to Localize Sound Source in Visual Scenes: Analysis and Applications
          </a>
        </span><br>
        <span class="summary">
          <a>Arda Senocak</a>,
          <a>Tae-Hyun Oh</a>,
          <b>Junsik Kim</b>,
          <a>Ming-Hsuan Yang</a>,
          <a>In So Kweon</a>
          <br>
          IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), to appear.<br>
          <a href="https://arxiv.org/pdf/1911.09649v1.pdf" target="_blank">Paper</a> | 
          <a href="https://github.com/ardasnck/learning_to_localize_sound_source" target="_blank">Project</a>
        </span>
      </div>
    </div>

    <!-- TPAMI 2019 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/TPAMI_manhattan.webp" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8275042" target="_blank">
            Robust and Globally Optimal Manhattan Frame Estimation in Near Real Time
          </a>
        </span><br>
        <span class="summary">
          <a>Kyungdon Joo</a>,
          <a>Tae-Hyun Oh</a>,
          <b>Junsik Kim</b>,
          <a>In So Kweon</a>
          <br>
          IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), 2019<br>
          <a href="https://arxiv.org/pdf/1605.03730v2.pdf" target="_blank">Paper</a> | 
          <a href="https://sites.google.com/site/kdjoocv/cvpr2016_mf" target="_blank">Project</a>
        </span>
      </div>
    </div>
  </div>

  <!--
  <div class="item">
    <span class="title">
    </span><br>
    <span class="description">

    </span>
  </div>

  <div class="item">
    <img class="thumbnail" src="{{site.baseurl}}/assets/images/scene-completion-thumbnail.png" alt="thumbnail" />

  </div>
  -->

</section><!--//section-->
