<section class="section publications-section">
  <!--<h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>-->
  <h2 class="section-title">International Journal</h2>

  <div class="table">

    <!-- TPAMI 2021' -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/sound_localization.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1911.09649v1.pdf" target="_blank">
            Learning to Localize Sound Source in Visual Scenes: Analysis and Applications
          </a>
        </span><br>
        <span class="summary">
          Arda Senocak,
          Tae-Hyun Oh,
          <b>Junsik Kim</b>,
          Ming-Hsuan Yang,
          In So Kweon
          <br>
          IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), to appear.<br>
          <a href="https://arxiv.org/pdf/1911.09649v1.pdf" target="_blank">Paper</a> | 
          <a href="https://github.com/ardasnck/learning_to_localize_sound_source" target="_blank">Project</a>
        </span>
      </div>
    </div>

    <!-- TPAMI 2019 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/manhattan.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8275042" target="_blank">
            Robust and Globally Optimal Manhattan Frame Estimation in Near Real Time
          </a>
        </span><br>
        <span class="summary">
          Kyungdon Joo,
          Tae-Hyun Oh,
          <b>Junsik Kim</b>,
          In So Kweon
          <br>
          IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), 2019<br>
          <a href="https://arxiv.org/pdf/1605.03730v2.pdf" target="_blank">Paper</a> | 
          <a href="https://sites.google.com/site/kdjoocv/cvpr2016_mf" target="_blank">Project</a>
        </span>
      </div>
    </div>


  </div>


  <h2 class="section-title">International Conference</h2>

  <div class="table">

    <!-- AAAI 2021' -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/temporal_super.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://temp.pdf" target="_blank">
            Motion-blurred Video Interpolation and Extrapolation
          </a>
        </span><br>
        <span class="summary">
          Dawit Mureja Argaw,
          <b>Junsik Kim</b>,
          Francois Rameau,
          In So Kweon
          <br>
          AAAI Conference on Artificial Intelligence (AAAI), Feb 2021<br>
          <!-- <a href="https:temp.pdf" target="_blank">Paper</a> | 
          <a href="https:temp.github" target="_blank">Project</a> -->
        </span>
      </div>
    </div>

    <!-- AAAI 2021 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/blur_flow.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://temp" target="_blank">
            Optical Flow Estimation from a Single Motion-Blurred Image
          </a>
        </span><br>
        <span class="summary">
          Dawit Mureja Argaw,
          <b>Junsik Kim</b>,
          Francois Rameau,
          JaeWon Cho,
          In So Kweon
          <br>
          AAAI Conference on Artificial Intelligence (AAAI), Feb 2021<br>
          <!-- <a href="https://temp.pdf" target="_blank">Paper</a> | 
          <a href="https://temp" target="_blank">Project</a> -->
        </span>
      </div>
    </div>

    <!-- WACV 2021 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/resnet_densenet.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/2010.12496.pdf" target="_blank">
            ResNet or DenseNet? Introducing Dense Short-cuts to ResNet
          </a>
        </span><br>
        <span class="summary">
          Chaoning Zhang*,
          Philipp Benz*,
          Dawit Mureja Argaw,
          Seokju Lee,
          <b>Junsik Kim</b>,
          Francois Rameau,
          Jean-Charles Bazin,
          In So Kweon
          (* equal conribution)
          <br>
          IEEE Winter Conference on Applications of Computer Vision (WACV), Mar 2021.<br>
          <a href="https://openaccess.thecvf.com/content/WACV2021/papers/Zhang_ResNet_or_DenseNet_Introducing_Dense_Shortcuts_to_ResNet_WACV_2021_paper.pdf" target="_blank">Paper</a> | 
          <a href="https://github.com/ChaoningZhang/Dense-Shortcuts" target="_blank">GitHub</a>
        </span>
      </div>
    </div>

    <!-- WACV 2020 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/PTZ.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://temp" target="_blank">
            DeepPTZ: Deep Self-Calibration for PTZ Cameras
          </a>
        </span><br>
        <span class="summary">
          Chaoning Zhang,
          Francois Rameau,
          <b>Junsik Kim</b>,
          Dawit Mureja Argaw,
          Jean-Charles Bazin,
          In So Kweon
          <br>
          IEEE Winter Conference on Applications of Computer Vision (WACV), Mar 2020.<br>
          <a href="https://openaccess.thecvf.com/content_WACV_2020/html/Zhang_DeepPTZ_Deep_Self-Calibration_for_PTZ_Cameras_WACV_2020_paper.html" target="_blank">Paper</a> | 
          <a href="https://github.com/ChaoningZhang/DeepPTZ" target="_blank">GitHub</a>
        </span>
      </div>
    </div>

    <!-- BMVC 2019 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/revisiting_resnet.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://bmvc2019.org/wp-content/uploads/papers/0740-paper.pdf" target="_blank">
            Revisiting Residual Networks with Nonlinear Shortcuts
          </a>
        </span><br>
        <span class="summary">
          Chaoning Zhang,
          Francois Rameau,
          Seokju Lee,
          <b>Junsik Kim</b>,
          Philipp Benz,
          Dawit Mureja Argaw,
          Jean-Charles Bazin,
          In So Kweon
          <br>
          British Machine Vision Conference (BMVC), Sep 2019 (spotlight)<br>
          <a href="https://bmvc2019.org/wp-content/uploads/papers/0740-paper.pdf" target="_blank">Paper</a> | 
          <a href="https://chaoningzhang.github.io/publication/revisiting_residual_networks/" target="_blank">Project</a>
        </span>
      </div>
    </div>

    <!-- BMVC 2019 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/visuomotor.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1909.06979.pdf" target="_blank">
            Visuomotor Understanding for Representation Learning of Driving Scenes
          </a>
        </span><br>
        <span class="summary">
          Seokju Lee,
          <b>Junsik Kim</b>,
          Tae-Hun Oh,
          Yongseop Jeong,
          Donggeun Yoo,
          Stephen Lin,
          In So Kweon
          <br>
          British Machine Vision Conference (BMVC), Sep 2019<br>
          <a href="https://bmvc2019.org/wp-content/uploads/papers/0002-paper.pdf" target="_blank">Paper</a> | 
          <a href="https://sites.google.com/site/seokjucv/home/visuomotor?authuser=0" target="_blank">Project</a> | 
          <a href="https://github.com/SeokjuLee/SensorFlow" target="_blank">GitHub</a>
        </span>
      </div>
    </div>

    <!-- CVPR 2019 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/VPE.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1904.08482.pdf" target="_blank">
            Variational Prototyping-Encoder: One-Shot Learning with Prototypical Images
          </a>
        </span><br>
        <span class="summary">
          <b>Junsik Kim</b>,
          Tae-Hyun Oh,
          Seokju Lee,
          Fei Pan,
          In So Kweon
          <br>
          IEEE International Conference on Computer Vision and Pattern Recognition (CVPR), Jun 2019<br>
          <a href="https://openaccess.thecvf.com/content_CVPR_2019/papers/Kim_Variational_Prototyping-Encoder_One-Shot_Learning_With_Prototypical_Images_CVPR_2019_paper.pdf" target="_blank">Paper</a> | 
          <a href="https://github.com/mibastro/VPE" target="_blank">GitHub</a>
        </span>
      </div>
    </div>

    <!-- CVPRworkshop 2019 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/player.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://openaccess.thecvf.com/content_cvpr_2018_workshops/papers/w34/Senocak_Part-Based_Player_Identification_CVPR_2018_paper.pdf" target="_blank">
            Part-based Player Identification using Deep Convolutional Representation and Multi-scale Pooling
          </a>
        </span><br>
        <span class="summary">
          Arda Senocak,
          Tae-Hyun Oh,
          <b>Junsik Kim</b>,
          In So Kweon
          <br>
          In CVSports workshop in conjunction with CVPR, Jun 2018 (oral)<br>
          <a href="https://openaccess.thecvf.com/content_cvpr_2018_workshops/papers/w34/Senocak_Part-Based_Player_Identification_CVPR_2018_paper.pdf" target="_blank">Paper</a> 
        </span>
      </div>
    </div>

    <!-- CVPR 2018 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/sound_localization.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1803.03849v1.pdf" target="_blank">
            Learning to Localize Sound Source in Visual Scenes
          </a>
        </span><br>
        <span class="summary">
          Arda Senocak,
          Tae-Hyun Oh,
          <b>Junsik Kim</b>,
          Ming-Hsuan Yang,
          In So Kweon
          <br>
          IEEE International Conference on Computer Vision and Pattern Recognition (CVPR), Jun 2018<br>
          <a href="https://openaccess.thecvf.com/content_cvpr_2018/papers/Senocak_Learning_to_Localize_CVPR_2018_paper.pdf" target="_blank">Paper</a> | 
          <a href="https://github.com/ardasnck/learning_to_localize_sound_source" target="_blank">GitHub</a>
        </span>
      </div>
    </div>

    <!-- AAAI 2018 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/codomain.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1712.01907.pdf" target="_blank">
            Co-domain Embedding using Deep Quadruplet Networks for Unseen Traffic Sign Recognition
          </a>
        </span><br>
        <span class="summary">
          <b>Junsik Kim</b>,
          Seokju Lee,
          Tae-Hyun Oh,
          In So Kweon
          <br>
          AAAI Conference on Artificial Intelligence (AAAI), Feb 2018<br>
          <a href="https://www.aaai.org/ocs/index.php/AAAI/AAAI18/paper/viewFile/17070/16285" target="_blank">Paper</a>
        </span>
      </div>
    </div>

    <!-- ICCV 2017 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/VPGNet.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1710.06288.pdf" target="_blank">
            VPGNet: Vanishing Point Guided Network for Lane and Road Marking Detection and Recognition 
          </a>
        </span><br>
        <span class="summary">
          Seokju Lee,
          <b>Junsik Kim</b>,
          Jae Shin Yoon,
          Seunghak Shin,
          Oleksandr Bailo,
          Namil Kim,
          Tae-Hee Lee,
          Hyun Seok Hong,
          Seung-Hoon Han,
          In So Kweon
          <br>
          IEEE International Conference on Computer Vision (ICCV), Oct 2017 <br>
          <a href="https://openaccess.thecvf.com/content_ICCV_2017/papers/Lee_VPGNet_Vanishing_Point_ICCV_2017_paper.pdf" target="_blank">Paper</a> | 
          <a href="https://sites.google.com/site/seokjucv/home/vpgnet?authuser=0" target="_blank">Project</a> | 
          <a href="https://github.com/SeokjuLee/VPGNet" target="_blank">GitHub</a>
        </span>
      </div>
    </div>

    <!-- ICCV 2017 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/pix_matching.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://arxiv.org/pdf/1708.05137.pdf" target="_blank">
            Pixel-Level Matching for Video Object Segmentation Using Convolutional Neural Networks
          </a>
        </span><br>
        <span class="summary">
          Jae Shin Yoon,
          Francois Rameau,
          <b>Junsik Kim</b>,
          Seokju Lee,
          Seunghak Shin,
          In So Kweon
          <br>
          IEEE International Conference on Computer Vision (ICCV), Oct 2017 <br>
          <a href="https://openaccess.thecvf.com/content_ICCV_2017/papers/Yoon_Pixel-Level_Matching_for_ICCV_2017_paper.pdf" target="_blank">Paper</a> | 
          <a href="https://jsyoon4325.wixsite.com/pix-matching" target="_blank">Project</a>
        </span>
      </div>
    </div>

    <!-- CVPR 2016 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/manhattan.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://openaccess.thecvf.com/content_cvpr_2016/papers/Joo_Globally_Optimal_Manhattan_CVPR_2016_paper.pdf" target="_blank">
            Globally Optimal Manhattan Frame Estimation in Real-time
          </a>
        </span><br>
        <span class="summary">
          Kyungdon Joo,
          Tae-Hyun Oh,
          <b>Junsik Kim</b>,
          In So Kweon
          <br>
          IEEE International Conference on Computer Vision and Pattern Recognition (CVPR), Jun 2016<br>
          <a href="https://openaccess.thecvf.com/content_cvpr_2016/papers/Joo_Globally_Optimal_Manhattan_CVPR_2016_paper.pdf" target="_blank">Paper</a> | 
          <a href="https://sites.google.com/site/kdjoocv/cvpr2016_mf" target="_blank">Project</a> | 
          <a href="https://github.com/Kyungdon/mf_estimation" target="_blank">GitHub</a>
        </span>
      </div>
    </div>



  </div>

  <!--
  <div class="item">
    <span class="title">
    </span><br>
    <span class="description">

    </span>
  </div>

  <div class="item">
    <img class="thumbnail" src="{{site.baseurl}}/assets/images/scene-completion-thumbnail.png" alt="thumbnail" />

  </div>
  -->

</section><!--//section-->
